

<section>
    <div class="header">
        <%- include('../partials/header') %>
    </div>
    <h1>Bem-vindo, <%= user.username %> (<%= user.role %>)</h1>

    <h2>Painel Administrativo</h2>
    <ul>
        <li><a href="/admin/professores">Gerenciar Professores</a></li>
        <li><a href="/admin/alunos">Gerenciar Alunos</a></li>
        <li><a href="/admin/funcionarios">Gerenciar Funcionários</a></li>
        <li><a href="/admin/aulas">Gerenciar Aulas</a></li>
    </ul>
</section>
