<nav>
    <ul>
        <ul><a href="/">Início</a></ul>
        <ul><a href="/form">Matrícula</a></ul>
        <ul><a href="/alunos">Alunos</a></ul><br><br>


        <ul><a href="/formProfe">Cadastro</a></ul>
        <ul><a href="/professores">Professores</a></ul><br><br>


        <ul><a href="/formFunc">Cadastro de Funcionários</a></ul>
        <ul><a href="/funcionarios">Funcionários</a></ul>
    </ul>
</nav>