<nav>
    <ul>
        <ul><a href="/">Início</a></ul>
        <ul><a href="/login">Entrar</a></ul>
        <ul><a href="/">Sobre Nós</a></ul>
        <ul><a href="/form">Matricular-se</a></ul>

        <br><br><br><br><br><br>
        <ul><a href="/alunos">Alunos</a></ul>


        <ul><a href="/formProfe">Cadastro</a></ul>
        <ul><a href="/professores">Professores</a></ul><br><br>


        <ul><a href="/formFunc">Cadastro de Funcionários</a></ul>
        <ul><a href="/funcionarios">Funcionários</a></ul>
    </ul>
</nav>