<nav>
    <ul>
        <ul><a href="/">Início</a></ul>
        <ul><a href="/">Cadastro</a></ul>
        <ul><a href="/">Consultar</a></ul>
        <ul><a href="/">Entrar</a></ul>
        <ul><a href="/">Sobre Nós</a></ul>
    </ul>
</nav>