<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 20px;
        font-style: normal;
    }

    section {
        display: flex;
        flex-direction: row;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    .header {
        width: 25%;
    }

    .container {
        width: 70%;
        padding: 5vw;
    }

    nav {
        height: 90.5vh;
        background-color: rgb(39, 39, 39);
        padding: 5vw;
    }

    ul {
        margin-bottom: 5vh;
    }

    a {
        font-size: 20px;
        color: rgb(244, 255, 255);
        text-decoration: none;
    }

    #btn-edit {
        padding: 7px;
        border-radius: 5px;
        color: rgb(255, 255, 255);
    }
    .edit {
        background-color: green;
    }
    .delete {
        background-color: red;
    }

</style>

<body>
    <%- body %>
</body>

</html>